body {
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
  
  .top-container {
      width: 80%;
      margin: 0 10%;
      padding: 25px;
      border: 2px solid #dddddd;
      background-color: #464646;
      flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  }